<% include partials/header %>
<p><br>
</p>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our Hand Picked Campgrounds</p>
            <p>
                <a class="btn btn-primary" href="/campgrounds/new">Add New campground</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-4 mb-4">
                <div class="card">
						<img class="card-img-top" src="<%= campground.image  %>">
						<div class="card-body">
							<h5 class="card-title"><%= campground.name   %></h5>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More</a>
                        </div>
                        
				</div>  
            </div>
        <% }) %>
    </div>

</div>

<% include partials/footer %>